// ================================
// 📄 _services-section.scss
// ================================
@use 'sass:color';
@use '../../../app/styles/abstracts' as *;

.services-section {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'title'
    'cards';

  width: 100%;
  height: 100vh;
  max-height: 100vh;
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;

  // clamp : 1.5rem/0.25rem (360px) → 2.5rem/1rem (1280px)
  padding: clamp(1.5rem, 1.09vw + 1.11rem, 2.5rem)
    clamp(0.25rem, 0.82vw + -0.05rem, 1rem) clamp(1rem, 0.54vw + 0.8rem, 1.5rem);

  @include desktop-up {
    padding: 2.5rem 1rem 2rem;
  }
}
