@use 'sass:color';
@use '../../../../app/styles/abstracts' as *;

// ================================
// 📄 _title-block.scss
// ================================

.services-title-block {
  grid-area: title;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 1rem;

  // clamp : 1rem (360px) → 2rem (1280px)
  .section-main-title {
    font-weight: 800;
    line-height: 1.2;
    color: $color-pink;
    text-shadow:
      0 2px 4px rgba($color-dark, 0.5),
      0 0 20px rgba($color-pink, 0.3);
    position: relative;
    margin: 0;

    font-size: clamp(1rem, 1.09vw + 0.61rem, 2rem);

    // Trait de soulignement
    &::after {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      background: linear-gradient(90deg, $color-pink, $color-purple);
      border-radius: 3px;
      bottom: clamp(-0.4rem, -0.02vw - 0.33rem, -0.6rem);

      width: clamp(35px, 3.8vw + 21.3px, 70px);
      height: clamp(2px, 0.11vw + 1.6px, 3px);
    }
  }
}
